{% extends "layout.html" %}
{% block body %}
    <div id= "map">
    </div>
    <style>
        #map {
        height: 900px;
        width: 80%;
            }
    </style>
    <section class="map">
         <div class="container-fluid text-center my-4" id ="mapid"></div>
     </section>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=mAWo6ZVOwQECEfInDbLo', {
                attribution:'<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                maxZoom: 20,
                center: [parseFloat(51.505), parseFloat(-0.09)],
                tileSize: 512,
                zoomOffset: -1,
            }).addTo(map); 
        var marker = L.marker([51.5, -0.09]).addTo(map)
                .bindPopup('Puto el que lo lea.<br> :v')
                .openPopup();
    </script>
    <!-- Load mapa into de page. -->
    <!--<script src="static\images/mapa.js"></script>-->
    {% endblock %}