.nav-enlace{
    display: block;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px 30px;
}
.navbar-default .navbar-nav>.open>a.dropdown-toggle{
    background-color: #f4511e !important;}